/*
CSS File for 'components/crate'
*/

.crate-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template:
                "top"
                "bottom";
  /* margin: auto; */
  /* margin-bottom: 10px; */
}

.record-cover {
  grid-area: recordcover;
}

.crate-panels-top-half {
  grid-area: top;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  margin: auto;
  margin-bottom: 0px;
	width: 50%;
	height: 300px;
	-webkit-transform: skewX(45deg);
	   -moz-transform: skewX(45deg);
	     -o-transform: skewX(45deg);
	background-image: url("../../images/record_covers.jpg");
  border: 5px solid #555;
  overflow: visible;
}

.crate-panels-bottom-half {
  grid-area: bottom;
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-template:
                "album artist";
  /* margin-top: -1%; */
}

.top-panel-content {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-template:
                ". recordcover";
	width: 100%;
	height: 100%;
  float: right;
  margin-right: -50%;
  -webkit-transform: skewX(-45deg);
	   -moz-transform: skewX(-45deg);
	     -o-transform: skewX(-45deg);
}

.crate-panel-left-container {
  display: inline-block;
  /* clear: right; */
  /* float: left; */
  /* margin-left: 50px; */
  margin-top: -50%;
	width: 300px;
	height: 300px;
	-webkit-transform: skewY(45deg);
	   -moz-transform: skewY(45deg);
	     -o-transform: skewY(45deg);
  border: 5px solid #555;
  overflow-x: auto;
  overflow-y: scroll;
  background-image: url("https://www.forms-surfaces.com/sites/default/files/imagecache/gal-reg-2x/images/1.7.0_wood_veneer_standard_AMWA_04272011_0.jpg");
  background-repeat: repeat-x;
}

.crate-panel-front-container {
  width: 300px;
	height: 300px;
  display: inline-block;
  background-image: url("https://www.forms-surfaces.com/sites/default/files/imagecache/gal-reg-2x/images/1.7.0_wood_veneer_standard_AMWA_04272011_0.jpg");
  border: 5px solid #555;
  overflow: auto;
}
