.container {
  /* background-image: url('../../images/black_records_background.png'); */
  width: 100%;
  height: 100%;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px auto;
  grid-template-areas:
              "header header"
              "core core";
  /* transform: scale(0.5); */
}

@media screen and (min-width: 700px) {
  .container {
    /* transform: scale(0.7); */
  }
}

@media screen and (min-width: 850px) {
  .container {
    /* transform: scale(0.9); */
  }
}

@media screen and (min-width: 950px) {
  .container {
    /* transform: none; */
  }
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
}

.core-engine {
  grid-area: core;
  display: flex;
  flex-direction: row;
}

/* .logo-div {
  display: inline;
  grid-area: logo;
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  width: 50%;
} */

.logo {
  width: 50%;
  margin-right: auto;
}

.search {
  /* grid-area: srch;
  grid-column: 1 / 2;
  grid-row: 1 / 2; */
  margin-left: auto;
  flex: 1;
}

.crate {
  /* grid-area: cr8e;
  grid-column: 1 / 2;
  grid-row: 2 / -1; */
}

.recordplayer {
  /* grid-area: rcpl;
  grid-column: -2 / -1;
  grid-row: 2 / -1; */
}

/* @media min-width: 400px {
  .container {
    grid-template-rows: 40px 40px auto auto;
    grid-template-columns: auto auto auto auto;
    grid-template:
                  "logo logo logo logo"
                  "search search search search"
                  "crate create recordplayer recordplayer"
                  "crate create recordplayer recordplayer";

  }
} */
