.interface_container {
  /*background-image: url('../../images/black_records_background.png');*/
}

.logo-container {
  display: block;
  margin: auto;
  background-image: url("../../images/logo.png");
  background-repeat: no-repeat;
  width: 500px;
  height: 280px;
}
